/* Declaring colors */
:root {



    --main-grey-100: #000000;
    --main-grey-off-black: #141414;
    --main-grey-80: #333333;
    --main-grey-70: #464646;
    --main-grey-60: #666666;
    --main-grey-40: #999999;
    --main-grey-20: #cccccc;
    --main-grey-10: #E5E5E5;
    --main-grey-5: #F2F2F2;


/* @link https://utopia.fyi/type/calculator?c=375,20,1.25,1400,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    
--step--2: clamp(0.84rem, calc(0.89rem + -0.06vw), 0.88rem);
--step--1: clamp(1.10rem, calc(1.09rem + 0.04vw), 1.13rem);
--step-0: clamp(1.38rem, calc(1.33rem + 0.20vw), 1.50rem);
--step-1: clamp(1.72rem, calc(1.62rem + 0.44vw), 2.00rem);
--step-2: clamp(2.15rem, calc(1.96rem + 0.81vw), 2.67rem);
--step-3: clamp(2.69rem, calc(2.37rem + 1.35vw), 3.55rem);
--step-4: clamp(3.36rem, calc(2.85rem + 2.15vw), 4.74rem);
--step-5: clamp(4.20rem, calc(3.42rem + 3.30vw), 6.31rem);
/* @link https://utopia.fyi/space/calculator?c=375,20,1.25,1400,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

--space-3xs: clamp(0.38rem, calc(0.38rem + 0.00vw), 0.38rem);
--space-2xs: clamp(0.69rem, calc(0.66rem + 0.10vw), 0.75rem);
--space-xs: clamp(1.06rem, calc(1.04rem + 0.10vw), 1.13rem);
--space-s: clamp(1.38rem, calc(1.33rem + 0.20vw), 1.50rem);
--space-m: clamp(2.06rem, calc(1.99rem + 0.29vw), 2.25rem);
--space-l: clamp(2.75rem, calc(2.66rem + 0.39vw), 3.00rem);
--space-xl: clamp(4.13rem, calc(3.99rem + 0.59vw), 4.50rem);
--space-2xl: clamp(5.50rem, calc(5.32rem + 0.78vw), 6.00rem);
--space-3xl: clamp(8.25rem, calc(7.98rem + 1.17vw), 9.00rem);

/* One-up pairs */
--space-3xs-2xs: clamp(0.38rem, calc(0.24rem + 0.59vw), 0.75rem);
--space-2xs-xs: clamp(0.69rem, calc(0.53rem + 0.68vw), 1.13rem);
--space-xs-s: clamp(1.06rem, calc(0.90rem + 0.68vw), 1.50rem);
--space-s-m: clamp(1.38rem, calc(1.05rem + 1.37vw), 2.25rem);
--space-m-l: clamp(2.06rem, calc(1.72rem + 1.46vw), 3.00rem);
--space-l-xl: clamp(2.75rem, calc(2.11rem + 2.73vw), 4.50rem);
--space-xl-2xl: clamp(4.13rem, calc(3.44rem + 2.93vw), 6.00rem);
--space-2xl-3xl: clamp(5.50rem, calc(4.22rem + 5.46vw), 9.00rem);

/* Custom pairs */
--space-s-l: clamp(1.38rem, calc(0.78rem + 2.54vw), 3.00rem);
}

/* END OF ROOT */

select, button,input, .menu-item-highlight {
    border-radius: calc(var(--space-xs)*0.2);
}


h1 {
     font-size:  var(--step-5);
}

h2 {
    font-size: var(--step-4);
}

h3 {
    font-size: var(--step-3);
}

h4 {
    font-size: var(--step-2);
    font-weight: 600;
    line-height: 125%;
    
}

h5 {
    font-size: var(--step-1);
}

h6 {
    font-size: var(--step-0);
    font-weight: 600;
    line-height: 150%;
    color: var(--main-grey-80);
}



/* 1. Website typography */
    /* 1.1 Paragraph typography */
.paragraph-bold {
    font-size: calc(var(--step--2)* 1.1);
    font-weight:700;
    line-height: calc(var(--space-s) * 0.9);
    word-spacing: calc(var(--space-3xs)*0.1);
    color: var(--main-grey-70);
}
.paragraph-medium {

    font-size: calc(var(--step--2) * 1.1);
    font-weight:400;
    line-height: 145%;
    word-spacing: calc(var(--space-3xs)*0.1);
    color: var(--main-grey-60);
 
}
.paragraph-small {
    font-size: calc(var(--step--2));
    font-weight:400;
    line-height: 150%;
    color: var(--main-grey-60); 
 
}

/* 

    /* 1.2 Titles typography */

.title-light {
    text-decoration: none;
    font-size: calc(var(--step--2)* 1.1);
    color: var(--main-grey-80);
    font-weight: 400;
    white-space: nowrap;


}

.title-medium {
    text-decoration: none;
    font-size: calc(var(--step--2)* 1.1);
    color: var(--main-grey-80);
    font-weight: 600;
    white-space: nowrap;
}



/* 2. Website elements */

    /* 2.1  Default button */



/* Global full-screen overlay */

.overlay-filter {
    backdrop-filter: blur(4px);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    transition: all 0.3s;
    margin: 0 auto;
    overflow: hidden;
    
}

.sm-screen-filter-modal {
    display: block;
    position:fixed;
    top: 0;
    left: 0;
    margin: var(--space-m);
    height: calc(100% - var(--space-m) * 2);
    width: calc(100% - var(--space-m) * 2);
    background-color: white;
    border-radius: var(--space-xs);
    overflow: auto;
}


/* Navbar styling **************************************************************/

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    height: calc(54px + var(--space-xs));
    top:0;
    left:0;
    right:0;
    padding: 0  var(--space-l)  var(--space-xs) var(--space-l);

}
.logo-icon {
    justify-content: flex-start;
    padding-inline-end: var(--space-xl);
}
.logo-icon h6 {
    font-weight: 600;
    letter-spacing: var(--space-2xs);
    color: var(--main-grey-70);
}
.navbar-menu {
    position: relative;
    display:  flex;
    justify-content: center;
    align-items: center;
}



.navbar-menu li a {
    padding: var(--space-3xs) var(--space-2xs);
    display: block;
}

/* Modal Sidebar Menu Styling ********************************************/

/* Header is used for navbar-menu 
mouseenter/leave sliding effect */


.menu-highlighter {

    position: absolute;
    background-color: var(--main-grey-5);
    opacity: 0;
    z-index: 0;
    transition: opacity 0.3s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);

}
.global-menu {
    z-index: 0;
    height: 100vh;
    position: fixed;
    top:0;
    right:0;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.16);
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.global-menu-header {
    display: flex;
    justify-content: flex-end;
    padding: var(--space-xs);
}

.global-menu-content {
    position: relative;
}


.global-menu-header > button, .sm-screen-filter-modal  button  {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}
.global-menu-content > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: flex-start;
    padding: 0 var(--space-xs);
}
.global-menu-content > ul li{
    display: inline-flex;
    white-space: nowrap;
    padding: calc(var(--space-xs) /2) var(--space-xl) calc(var(--space-xs) /2) var(--space-s);
    z-index: 1;
}

/* Section 2 - Main Content */

.main-content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.inventory-header {
    position: relative;
    top:0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:  var(--space-s) var(--space-l);
    background: white;
    box-shadow: 0 var(--space-3xs) var(--main-grey-5);
}

.inventory-header.fixed {
    position: fixed;
}

.inventory-header h4 {
    flex-grow: 1;
}
.dropdown-menu-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.inventory-header #sort-by-dropdown {
    text-decoration: none;
    white-space: nowrap;
    padding: var(--space-2xs) 0 var(--space-2xs) var(--space-xs);
    background-color: var(--main-grey-5);
    appearance: none;
    border: none;
    border: 1px solid transparent;
    transition: border-color 0.3s;
    
}

.inventory-header #sort-by-dropdown:hover {
    border: 1px solid;
    border-color: var(--main-grey-20);
}
.arrow-down {
    grid-area: 1 / 2 / 2 / -1 ;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7.4L0 1.4L1.4 0L6 4.6L10.6 0L12 1.4L6 7.4Z' fill='%23595959'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    pointer-events: none;
    padding-left: var(--space-l-xl);
}

#sort-by-dropdown {
    grid-area: 1 / 1 / 2 / -1;

}
#sort-by-dropdown option {
    appearance: none;

}

/* grid / tile menu options switch */

.view-options {
    display: flex;
    padding-inline-start: var(--space-m);
   
}

.view-grid, .view-list  {
    border-radius: 0;
   display: flex;
   border: none;
   background: none;
   cursor: pointer;
   padding: 4px var(--space-xs);
}

.view-grid g, .view-list g  {
  fill: var(--main-grey-20);
}

.view-grid g.active, .view-list g.active  {
    fill: var(--main-grey-80);
  }
  


.view-grid {
    border-right: 1px solid var(--main-grey-20);
}


/**************************** Styling global-menu *******************************/


/* Small screens menu */

.small-screen-table {
    display: none;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    background: white;
    padding: var(--space-m) 0;
    gap: var(--space-2xs);
}

.small-screen-table .dropdown-menu-wrapper {
    display: none;
}

.small-screen-table .filter-menu {
   grid-area: 1 / 1 / 2 / -1;
    text-decoration: none;
    background-color: var(--main-grey-5);
    appearance: none;
    border: none;
}


/**************************** Styling Sidebar *******************************/


/* Sidebar grid rules */

.inventory-sidebar {
    padding: var(--space-l);
    width: 386px;
    background-color: var(--main-grey-5);
}
.inventory-sidebar .title-medium, .inventory-sidebar .title-light  {
     color: var(--main-grey-60);
}
.inventory-sidebar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    /* Block level grid rules*/

    .filter {
        display: grid;
        grid-template-rows: auto;
        grid-area: auto / 1 / auto / -1;
        gap: var(--space-2xs);
        margin-bottom: var(--space-m);
    }

    /* General input field rules*/
    
    .input-filter {
        justify-self: stretch;
    }    
    .input-default > input {
        width: 100%;
        padding: var(--space-2xs);
        appearance: none;
        border: none;
        color: var(--main-grey-70);
    }

    .input-radio > input {
        margin: 0;
        display: block;
        block-size: var(--space-s);
        inline-size: var(--space-s);
        appearance: none;
        border: 1px solid var(--main-grey-70);
        border-radius: 50%;
        align-self: center;
    }
    .radio-input-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-3xs);
    }
/* Specific input field rules */

    .filter.filter-by-model {
        grid-template-rows: repeat(5, 1fr);
        grid-area: auto / 1 / auto / 2;
    }
    .filter.filter-by-type {
        grid-template-rows: repeat(5, 1fr);
        grid-area: auto / 2 / auto / -1;
    }
    .filter.filter-by-trim input {
        border-radius: calc(var(--space-xs)*0.2);
    }
    .filter-by-paint .radio-input-container  {
        gap: var(--space-s);
    }
    .filter-by-paint .radio-input-container img  {
        width: var(--space-m-l);
    }      
/**************************** Styling Inventory-content *******************************/


.inventory-content {
    padding: var(--space-l);
    width: calc(100% - 386px);
    box-sizing: border-box;
    background-color: var(--main-grey-5);
}

.inventory-content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: var(--space-s);
    column-gap: var(--space-s);
    
}

.inventory-content-grid.active {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--space-s);
    column-gap: var(--space-s);
}

.alert-container {
    grid-area: 1 / 1 / 2 / -1;
    display: grid;
    grid-template-columns: var(--space-s)  1fr var(--space-s);
    grid-template-rows: 1fr;
}

.alert-icon {
    grid-area: 1 / 1 / 2 / 2;
    align-self: start;
    justify-self: start;
    padding-top: 2px;
}

.alert-text {
    grid-area: 1 / 2 / 2 / 12;
    justify-self: start;
    align-self: start;
}


/**************************** Styling Vehicle card  *******************************/




.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}




.inventory-card {
    display: grid;
    width: 100%;
    height: auto;
    border-radius: var(--space-2xs) var(--space-2xs) 0 0;
    grid-template-columns: var(--space-s) repeat(6, 1fr) var(--space-s);
    grid-template-rows: 0 auto 0;
    row-gap: var(--space-s);
    background-color: white;
    overflow: hidden;
}

.inventory-card.list {
    border-radius: var(--space-2xs);
}



.inventory-description {
    grid-area: 2 / 2 / 3 / 6;
    align-self: start;
   
    
}
.inventory-price-wrap {
    grid-area: 2 / 5 / 3 / 8;
   align-items: end;
    display: flex;
    width: 100%;
    flex-direction: column;
   
    
}
.inventory-price-wrap .payment {
    display: flex;
    gap: 6px;
    flex-grow: 1;
}
.car-images {
    grid-area: 3 / 1 / 4 / -1 ;
}
.car-images > img {
    width: 100%;
}

.stats {
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats div:nth-child(2) {
    white-space: nowrap;
}

.stats .text-wrap {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.info-wrapper {
    grid-area: 4 / 2 / 5 / 8; 
    padding-bottom: var(--space-s);
}

.stats-wrapper {
    padding-bottom: var(--space-s);
    display: flex;
    width: 100%;
}

.stats-left {
    border-right: 1px solid var(--main-grey-20);
    flex: 1 1 33.3%
}
 .stats-center {
    border-right: 1px solid var(--main-grey-20);
    flex: 1 1 33.3%
}
 .stats-right {
    flex: 1 1 33.3%

}

.features {
    display: flex;
    gap: var(--space-xs);
    justify-content: space-evenly;
}

.features .features-right, .features .features-left {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
    align-items: start;

}

.features .wrapper {
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.features .wrapper svg {
 flex-shrink: 0;
}

/**************************** Styling Vehicle card - List  *******************************/

.card-expand {
    cursor: pointer;
}

.car-images.list {
    flex-basis: 50%;
    padding-bottom: var(--space-s);
}

.car-images.hidden {
    display: none;
}

.info-wrapper.list {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
   justify-self: stretch;
    justify-content: center;
}

.info-wrapper.hidden {
    display: none;
}



.details-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    border-radius: 0 0 var(--space-2xs) var(--space-2xs);
    padding: 0 var(--space-s) 0 var(--space-s);
    transition: height 0.3s;
}

.details-wrapper.list {
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.details-wrapper.list > .car-images {
    flex-basis: 50%;
}

.details-wrapper > .car-images {
    flex-basis: 100%;
}


